<div class="fondo" fxLayout="column">
    <div  fxLayout="column" fxLayoutAlign="center center" fxFlex="100%">
        <h2 class="titulo">Noticia detallada</h2>
         
        <div class="cuerpo1 margen cuadrado"  fxFlex="100%">
            <div class="foto">
                <img class="im" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9OfHFCHWCH2DZo9DtoYZB7uF5acHbrADblA&usqp=CAU">
            </div>
            <div class="letras margend">
                <h3 class="fondot menu">Actualidades</h3>
                <h2 class="titulo">Inteligencia artifical</h2>
                <h5>La inteligencia artificial es, en ciencias de la computación, la disciplina que intenta replicar y desarrollar la inteligencia y sus procesos implícitos a través de computadoras. No existe un acuerdo sobre la definición completa de inteligencia artificial, pero se han seguido cuatro enfoques: dos centrados en los humanos (sistemas que piensan como humanos, y sistemas que actúan como humanos) y dos centrados en torno a la racionalidad (sistemas que piensan racionalmente y sistemas que actúan racionalmente)</h5>
          </div> 
        </div>
    </div>
</div>
