<div class="articulo">
    <div class="membrete">
        <div class="titulos">
           
        </div>
        <div class="siguiente">

        </div>
    </div>
    <div class="escrito">

        <div class="imgdest">
            <div class="numeracion">
                1
            </div>
            <div class="picture">
                
            </div>
        </div>
        <div class="descripcion">
            <div class="title">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate provident nesciunt eius quidem nobis voluptate enim itaque reprehenderit quaerat necessitatibus quam iure autem in rem, deserunt temporibus numquam nisi? Omnis.
                    
            </div>
            <div class="subtitle">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit voluptatibus provident nulla, natus numquam in beatae porro! Ratione delectus inventore exercitationem commodi! Libero ipsam delectus inventore culpa exercitationem odit ut.
            </div>
            <div class="content">
               
            </div>
            <div class="example">
                
            </div>
        </div>

    </div>

</div>



