    
<div class="fondo" fxLayout="column">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100%">
        <div class="separacion"></div>
        <div class="linea1"></div>
        <div class="cuerpo1 margen" fxLayout="row" fxFlex="100%">
            <div class="letras margend">
                <h3 class="fondot menu">Actualidades</h3>
                <h2 class="titulo">Inteligencia artifical</h2>
                <h5>La inteligencia artificial es, en ciencias de la computación, la disciplina que intenta replicar y desarrollar la inteligencia y sus procesos implícitos a través de computadoras. No existe un acuerdo sobre la definición completa de inteligencia artificial, pero se han seguido cuatro enfoques: dos centrados en los humanos (sistemas que piensan como humanos, y sistemas que actúan como humanos) y dos centrados en torno a la racionalidad (sistemas que piensan racionalmente y sistemas que actúan racionalmente)</h5>
                <button mat-button >Leer</button>
            </div>
            <div class="foto">
                <img class="im" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9OfHFCHWCH2DZo9DtoYZB7uF5acHbrADblA&usqp=CAU">
            </div>
        </div>
        <div class="linea1"></div>

        <div>espacio para cambiar</div>

        <div fxLayout="row" fxFlex="100%">
            
            <div class="foto1">
                <img class="im" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Anatomy-1751201_1280.png/800px-Anatomy-1751201_1280.png">
            </div>
            <div class="letras1 margeni ">
                <h2 class="titulo">Inteligencia artifical</h2>
                <h5>La inteligencia artificial es, en ciencias de la computación, la disciplina que intenta replicar y desarrollar la inteligencia </h5>
                <button mat-button >Leer</button>
            </div>
            
        </div>
        <div class="separacion"></div>
        <div class="linea1"></div>
        <div class="separacion"></div>

        <div fxLayout="row" fxFlex="100%">
            
            <div class="foto1">
                <img class="im" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9OfHFCHWCH2DZo9DtoYZB7uF5acHbrADblA&usqp=CAU">
            </div>
            <div class="letras1 margeni ">
                <h2 class="titulo">Inteligencia artifical</h2>
                <h5>La inteligencia artificial es, en ciencias de la computación, la disciplina que intenta replicar y desarrollar la inteligencia </h5>
                <button mat-button >Leer</button>
            </div>
            
        </div>
        <div class="separacion"></div>
        <div class="linea1"></div>
        <div class="separacion"></div>
    </div>

    <div class="fondo1" fxFlex="100" fxLayoutAlign="center center">
        <div class="blanco menu" fxFlex="20%" fxLayout="column" fxLayoutAlign=" center">
            <h4>UNIB.E Noticias</h4>
            <span class="pie">
                Direccion: Av Marina de Jesus y Barbola Sinaylin
            </span>
            <span class="pie">
                Telefono: 0987654120
            </span>
        </div>
        <div class="blanco menu" fxFlex="20%" fxLayout="column" fxLayoutAlign=" center">
            <h4>Informacion
                <div class="linea"></div>
                <span class="pie">
                    Pagina dedicada a mantener informado a la ciudadania con las ultimas noticias
                </span>
                <button mat-button class="fondo1 blanco pie">Regsitro</button>
            </h4>
        </div>
        <div class="blanco menu" fxFlex="20%" fxLayout="column" fxLayoutAlign=" center">
            <h4>Categorias
                <div class="linea"></div>
            </h4>
            <button mat-button class="fondo1 blanco pie">Tecnologia</button>
            <button mat-button class="fondo1 blanco pie">Deportes</button>
            <button mat-button class="fondo1 blanco pie">Entrevistas</button>
            <button mat-button class="fondo1 blanco pie">Actualidades</button>
        </div>
    </div>
</div>